---
import errorlayout from '../layouts/error-layout.astro';
---

<errorlayout title="404 - Page Not Found">

    <div class="error-text">
        <h1>Are you sure about that?</h1>

        <h3>It's all I got, but it's honest work...</h3>
    </div>

</errorlayout>

<style>
    .error-text{
        margin: 2em 0em 0em 4em;
        text-align: center;
    }
</style>