---
import errorlayout from '../layouts/error-layout.astro';
---

<errorlayout title="404 - Page Not Found">

    <div class="error-text">
        <h1>Are you sure about that?</h1>
    </div>

</errorlayout>

<style>
    .error-text{
        margin: 2em 0em 0em 4em;
    }
</style>