---
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="Home Page">

	<div class="home-page">
		<div class="text">
			<h5>I'm a <i>mechanical engineer</i> by trade who's currently invested in <i>computational neuroscience</i>. 
				I did my Bachelors in METU (Ankara, Turkey) focusing on <i>system dynamics and control</i> where I
				worked closely with <a href="https://me.metu.edu.tr/tr/kisi/erhan-ilhan-konukseven">Erhan Ilhan Konukseven</a>. I then concluded my Masters in PoliMi (Milan, Italy) 
				centered around <i>learning theory and dynamical identification</i> through the supervisions of
				<a href="https://www.supsi.ch/loris-roveda">Loris Roveda</a> and <a href="https://www.mecc.polimi.it/en/staff/francesco.braghin">Francesco Braghin</a>. Currently I'm working with <a href="https://web.mat.upc.edu/antoni.guillamon/">Antoni Guillamon</a> at UPC (Barcelona, 
				Spain) on <i>single neuron dynamical identification</i>.
			</h5>
			<br/>
			<p>
				I am spending 2025/2026 with a few internships before starting my doctorate in 2026 Fall. Currently
				in Barcelona, next stop Paris!
			</p>
			<p>
				For a comprehensive exposition of my research check my <a href="/research">CV</a> or just
				go to <a href="/research">Research</a> section. If you have any question or want to collaborate on neuroscience 
				research <a href="mailto:gunescagin.aydin@mail.polimi.it">send me a mail</a>.
			</p>
		</div>

		<div class="images">
			<img src='./src/assets/pper.jpg' alt="A photo of a photo of a reflection of you" class="pp">
		</div>
	</div>

	<div class="bottomslide">
		<img src='./src/assets/moon.jpg' alt="Moon sliding away from focus" class="moon">
	</div>

</BaseLayout>

<style>
	.home-page {
		display: flex;
		flex-direction: row;
		margin: 0em 0em 0em 0em;
		padding: 0em 0em 0em 0em;
	}
	.text {
		text-align: right;
		margin: 0em 3em 0em 0em;
		padding: 0em 0em 0em 0em;
	}

	.text a {
		color: rgba(67, 36, 36, 0.76);
	}
	.images {
		align-content: center;
		justify-content: center;
		margin: 0em 1em 0em 0em;
		padding: 0em 0em 0em 0em;
	}
	.bottomslide {
		margin: 0em 1em 0em 1em;
		padding: 0em 0em 0em 0em;
	}
	.moon {
		width: 0%;
		height: auto;
		border-radius: 5px;
		margin: 0em 0em 0em 0em;
		padding: 0em 0em 0em 0em;
		object-fit: cover;
		opacity: 0.7;
	}
	.pp {
		max-width: 100%;
		height: auto;
		border-radius: 5px;
		margin: 0em 0em 0em 0em;
		padding: 0em 0em 0em 0em;
		object-fit: cover;
		opacity: 1.0;
	}

	@media screen and (max-width : 1000px) {
		.home-page{
			display: block;
		}
		.text {
			text-align: center;
			margin: 2em;
		}
		.images {
			margin: 3em;
		}
		.moon {

		}
		.pp {
			
		}
	}
</style>





