---
const number = 1
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gunes</title>
	</head>
	<body>
		<h1>Short Bio</h1>
		<h1>Long Bio</h1>
		<h1>Speaker</h1>
		<h1>Posters & Publications</h1>
		<h1>Research Interests</h1>
		<h1>Contact</h1>
		<h1>Lecture Notes</h1>
		<h1>Un-asthetics</h1>
		<a></a>
	</body>
</html>
