---
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="Manifesto Page">

	<div>
        <p>
            Aesthetics should be minimal.
        </p>
    </div>

</BaseLayout>