---
import BaseLayout from '../layouts/base-layout.astro';
---
        

<BaseLayout title="Manifesto Page">
	<div class="manifesto-container">

        <h5 class="manifesto">
            Unlike unlike unlike...
            <br>
            Now how were we saying that thing, cool?
            <br>
            But the beautiful is mostly ugly, truth only lies to us and we see terrible needs in our good saints.
            <br>
            So why define cool in everything that we know to be so subjective.
            <br>
            <br>
            Cool is capital.
            <br>
            Cool is machinary that gnaws our bodies.
            <br>
            Cool is nostalgia broken, mind split, spirit shattered.
            <br>
        </h5>

        <img src="./neuron3.JPG" class="img">

    </div>

</BaseLayout>

<style>
    .manifesto-container {
        display: flex;
    }
    .img {
        width: 700px;
        height: auto;
        margin: 0em 2em;
    }
    .manifesto {
        text-align: right;
    }
</style>