---
import BaseLayout from '../layouts/base-layout.astro';
---
        

<BaseLayout title="Manifesto Page">
	<div class="manifesto-page">

        <h5 class="manifesto">
            Unlike unlike unlike...
            <br>
            Now how were we saying that thing, cool?
            <br>
            But the beautiful is mostly ugly, truth only lies to us and we see terrible needs in our good saints.
            <br>
            So why define cool in everything that we know to be so subjective.
            <br>
            <br>
            Cool is capital.
            <br>
            Cool is machinary that gnaws our bodies.
            <br>
            Cool is nostalgia broken, mind split, spirit shattered.
            <br>
        </h5>
    
    </div>

</BaseLayout>

<style>
    .manifesto-page {
        width: 1080px;
        display: block;
        justify-items: center;
        align-items: center;
    }
    .img {
        width: 500px;
        object-fit: contain;
        margin: 2em 2em;
    }
    .manifesto {
        text-align: center;
    }

	@media all and (max-width : 1080px) {
		.manifesto-page{
            width: 100vw;
			display: flex;
            flex-direction: column;
			text-align: center;
            align-items: center;
            justify-content: center;
			padding: 0em 6em 0em 4em;
		}
    }
</style>