---
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="Research Page">

    <div>
        <p class:"research interests">
            My current research interests are centered around the biological and
            artificial representations of information flow in complex networks.
        </p>
    </div>
    
</BaseLayout>