---
import BaseHead from "../components/base_head.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
                <BaseHead title={title} description={description} />
                <style>
                .info {
                        display: flex;
                        flex-direction: column;
                        min-height: 100vh;
                }
                </style>
	</head>
	<body class="info">
                <slot/>
	</body>
</html>

<style>

</style>